{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}


{% block banner %}
    <h1>{% trans "Welcome to Pinax" %}</h1>
    <p>
        {% blocktrans %}
        <b>Pinax</b> is a <a href="http://djangoproject.com/">Django</a>
        project intended to provide a starting point for websites. .
        {% endblocktrans %}
    </p>
    
    <h2>Download</h2>
    <p>

        <form id="linkForm" class="form-group has-feedback" class="" role="form" 
        style="margin-bottom: 0;">
            <div class="form-group has-feedback" style="margin-bottom: 0;">
                <label class="control-label " for="inputlink">link</label>
                <div class="">
                  <input class="form-control  input-lg" type="text" placeholder="ادخل الرابط" id="inputlink" name="link" required /> 
                </div>
            </div>
                <div class="blocks">
                    <button type="button" class="btn btn-lg btn-info">صوت فقط MP3 <span class="glyphicon glyphicon-headphones"></span></button>
                    <button type="button" class="btn btn-lg btn-warning">أقل مساحة MP4 <span class="glyphicon glyphicon-sd-video"></span></button>
                    <button type="button" class="btn btn-lg btn-success">أعلي جودة MP4 HD <span class="glyphicon glyphicon-facetime-video"></span></button>
                </div>
        </form>
    </p>
    
    {% if user.is_authenticated %}
        {% url "what_next" as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn btn-primary large">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url "account_login" as login_url %}
        {% url "account_signup" as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p> 
    {% endif %}
{% endblock %}
