{% extends "theme_base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}


{% block style_base %}
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link  href="{% static "css/bootstrapValidator.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/bootstrap-rtl.css" %}" rel="stylesheet">
    
    

    {% block extra_style %}{% endblock %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}


{% block script_base %}
    <script src="{% block jquery_src %}{% static "js/jquery-1.11.1.min.js" %}{% endblock %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    <!-- <script type="text/javascript" src="/path/to/jquery/jquery-1.10.2.min.js"></script> -->
    <script type="text/javascript" src="{% static "js/bootstrapValidator.min.js" %}"></script>
    <script type="text/javascript">

    $(document).ready(function() {
        $('#inputlink').keyup(function(){
            $('#submit_btn').click();
        });
        $('#linkForm').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function(validator, form, submitButton) {
            $('#loading_div').fadeIn();
            $('#inputlink').prop('readonly', true);
            $('#submit_btn').fadeOut();
            $.post(form.attr('action'), form.serialize(), function(result) {
                // The result is a JSON formatted by your back-end
                // I assume the format is as following:
                //  {
                //      valid: true,          // false if the account is not found
                //      username: 'Username', // null if the account is not found
                //  }

                $('#result_div').html(result);
                $('#loading_div').fadeOut();
                // $('#submit_btn').fadeIn();
                $('#inputlink').prop('disabled', false);
                if (result.valid == true || result.valid == 'true') {
                    // You can reload the current location
                    window.location.reload();

                    // Or use Javascript to update your page, such as showing the account name
                    $('#result_div').html(result);
                } else {
                        // The account is not found
                    // Show the errors
                        $('#errors').html('The account is not found').removeClass('hide');

                    // Enable the submit buttons
                       $('#loginForm').bootstrapValidator('disableSubmitButtons', false);
                        }
                }, 'html');
            },
            fields: {
                link: {
                    validators: {
                        regexp: {
                            regexp: /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/,
                            message: 'Please Check the link provided'
                        }
                    }
                }
            }
        });
    });


    </script>
    {% block extra_script %}{% endblock %}
{% endblock %}
